* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
  color: black;
}

/* body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
  background-image: linear-gradient(to bottom right, #00c9ff, #92fe9d);
}
*/

h1 {
  color:#390099;
}

#title {
  text-align: center;
}

#mapContainer {
  height: 75vh;
}

#mapInfo {
  margin-left: 10px;
}

a {
  text-decoration: none;
}

.charts {
  display: flex;
  flex-direction: column;
}

#barChart,
#areaChart {
  width: 60vw;
  margin-left: 15vw;
}

#cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.card {
  margin-left: 45px;
  margin-bottom: 45px;
}

#headerNavContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  margin-left: 10px;
}

nav {
  margin-right: 10px;
}

#homepage {
  margin-left: 10px;
}

#homePageCards {
  display: flex;
  justify-content: space-around;
}
